<h1>Dogeifier</h1>
<img src="https://media.giphy.com/media/54Vj1kxvgyF4k/giphy.gif">
<form method="post">
  <textarea name="text" placeholder="Text to dogeify"></textarea>
  <button type="submit">
    Dogeify
  </button>
</form>
