<h1>Dogeifier</h1>

<form method="post">
  <textarea name="text" placeholder="Text to dogeify"></textarea>
  <button type="submit">
    Dogeify
  </button>
</form>
<style>
    textarea {
      height: 400px;
      width: 400px;
    }
</style>
