h1 {
  width: 700px;
  padding-top: 10px !important;
}

.avatar {
  width: 75px !important;
  height: 75px !important;
    bottom: 20px;
    position: relative;
    padding: 10px;
}

.avatar img {
  height: 100%;
  width: 100%;
}


body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comments {
  width: 700px;
  height: calc(100vh - 238px);
  overflow: auto;
  padding-bottom: 200px;
}

.comment {
  display: flex;
}

.comment:first-of-type {
  padding-top: 10px;  
}


form#form {

  z-index: 5;
    position: fixed;
    bottom: 20px;
    left: 0px;
    right: 0px;
    width: 700px;
    margin: auto;
    background-color: white !important;
}